interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications?$filter=startswith(displayName,'cli-app-000001')
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#applications","value":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"003","RoleInstance":"SI1PEPF00005AD8"}}'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "cli-app-000001", "identifierUris": [], "optionalClaims":
      {"idToken": [{"name": "auth_time", "source": null, "essential": false}], "accessToken":
      [{"name": "email", "source": null, "essential": false}]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/applications
  response:
    body:
      string: '{"@odata.context": "https://graph.microsoft.com/v1.0/$metadata#applications/$entity",
        "id": "cad20a5c-7443-40ee-aeb4-56714589cf06", "deletedDateTime": null, "appId":
        "4aee9257-5b54-4255-83bc-f8c25d9d6f6a", "applicationTemplateId": null, "disabledByMicrosoftStatus":
        null, "createdDateTime": "2021-12-06T08:07:27.3438798Z", "displayName": "cli-app-000001",
        "description": null, "groupMembershipClaims": null, "identifierUris": [],
        "isDeviceOnlyAuthSupported": null, "isFallbackPublicClient": null, "notes":
        null, "publisherDomain": "AzureSDKTeam.onmicrosoft.com", "signInAudience":
        "AzureADandPersonalMicrosoftAccount", "tags": [], "tokenEncryptionKeyId":
        null, "defaultRedirectUri": null, "certification": null, "addIns": [], "api":
        {"acceptMappedClaims": null, "knownClientApplications": [], "requestedAccessTokenVersion":
        2, "oauth2PermissionScopes": [], "preAuthorizedApplications": []}, "appRoles":
        [], "info": {"logoUrl": null, "marketingUrl": null, "privacyStatementUrl":
        null, "supportUrl": null, "termsOfServiceUrl": null}, "keyCredentials": [],
        "optionalClaims": {"accessToken": [{"additionalProperties": [], "essential":
        false, "name": "email", "source": null}], "idToken": [{"additionalProperties":
        [], "essential": false, "name": "auth_time", "source": null}], "saml2Token":
        []}, "parentalControlSettings": {"countriesBlockedForMinors": [], "legalAgeGroupRule":
        "Allow"}, "passwordCredentials": [], "publicClient": {"redirectUris": []},
        "requiredResourceAccess": [], "verifiedPublisher": {"displayName": null, "verifiedPublisherId":
        null, "addedDateTime": null}, "web": {"homePageUrl": null, "logoutUrl": null,
        "redirectUris": [], "implicitGrantSettings": {"enableAccessTokenIssuance":
        false, "enableIdTokenIssuance": false}}, "spa": {"redirectUris": []}}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com/v2/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/cad20a5c-7443-40ee-aeb4-56714589cf06/Microsoft.DirectoryServices.Application
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"003","RoleInstance":"SI1PEPF0000211D"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications?$filter=identifierUris/any(s:s%20eq%20'dadaec7b-6c77-443b-ba31-097273290274')
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#applications","value":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"003","RoleInstance":"SI1PEPF00005EF2"}}'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications?$filter=appId%20eq%20'dadaec7b-6c77-443b-ba31-097273290274'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#applications","value":[{"id":"d6c3ddd1-9af8-4b27-98b3-69cd1d615e63","deletedDateTime":null,"appId":"dadaec7b-6c77-443b-ba31-097273290274","applicationTemplateId":null,"disabledByMicrosoftStatus":null,"createdDateTime":"2021-12-06T0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications/d6c3ddd1-9af8-4b27-98b3-69cd1d615e63
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#applications/$entity","id":"d6c3ddd1-9af8-4b27-98b3-69cd1d615e63","deletedDateTime":null,"appId":"dadaec7b-6c77-443b-ba31-097273290274","applicationTemplateId":null,"disabledByMicrosoftStatus":null,"createdDateTime":"2021-12-06T08:07:30Z","displayName":"[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.microsoft.com/v1.0/applications/d6c3ddd1-9af8-4b27-98b3-69cd1d615e63
  response:
    body:
      string: ''
    headers:
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"003","RoleInstance":"SI1PEPF00001F03"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 204
      message: No Content
version: 1
