interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications?$filter=startswith(displayName,'azure-cli-test-graph-app000001')
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#applications","value":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"003","RoleInstance":"SI1PEPF00005EEB"}}'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: '{"displayName": "azure-cli-test-graph-app000001", "identifierUris": ["api://00000000-0000-0000-0000-000000000000/azure-cli-test-graph-app000001"],
      "web": {"homePageUrl": "https://myapp.com/"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/applications
  response:
    body:
      string: '{"@odata.context": "https://graph.microsoft.com/v1.0/$metadata#applications/$entity",
        "id": "5ac7179b-cef3-4952-b95b-4359e8f7cfef", "deletedDateTime": null, "appId":
        "d8c44535-ddc8-4077-aa47-a0af28571120", "applicationTemplateId": null, "disabledByMicrosoftStatus":
        null, "createdDateTime": "2021-12-06T08:07:47.3972232Z", "displayName": "azure-cli-test-graph-app000001",
        "description": null, "groupMembershipClaims": null, "identifierUris": ["api://00000000-0000-0000-0000-000000000000/azure-cli-test-graph-app000001"],
        "isDeviceOnlyAuthSupported": null, "isFallbackPublicClient": null, "notes":
        null, "publisherDomain": "AzureSDKTeam.onmicrosoft.com", "signInAudience":
        "AzureADandPersonalMicrosoftAccount", "tags": [], "tokenEncryptionKeyId":
        null, "defaultRedirectUri": null, "certification": null, "optionalClaims":
        null, "addIns": [], "api": {"acceptMappedClaims": null, "knownClientApplications":
        [], "requestedAccessTokenVersion": 2, "oauth2PermissionScopes": [], "preAuthorizedApplications":
        []}, "appRoles": [], "info": {"logoUrl": null, "marketingUrl": null, "privacyStatementUrl":
        null, "supportUrl": null, "termsOfServiceUrl": null}, "keyCredentials": [],
        "parentalControlSettings": {"countriesBlockedForMinors": [], "legalAgeGroupRule":
        "Allow"}, "passwordCredentials": [], "publicClient": {"redirectUris": []},
        "requiredResourceAccess": [], "verifiedPublisher": {"displayName": null, "verifiedPublisherId":
        null, "addedDateTime": null}, "web": {"homePageUrl": "https://myapp.com/",
        "logoutUrl": null, "redirectUris": [], "implicitGrantSettings": {"enableAccessTokenIssuance":
        false, "enableIdTokenIssuance": false}}, "spa": {"redirectUris": []}}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com/v2/00000000-0000-0000-0000-000000000000/directoryObjects/5ac7179b-cef3-4952-b95b-4359e8f7cfef/Microsoft.DirectoryServices.Application
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"003","RoleInstance":"SI1PEPF0000211D"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications?$filter=identifierUris/any(s:s%20eq%20'api://00000000-0000-0000-0000-000000000000/azure-cli-test-graph-app000001')
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#applications","value":[{"id":"5ac7179b-cef3-4952-b95b-4359e8f7cfef","deletedDateTime":null,"appId":"d8c44535-ddc8-4077-aa47-a0af28571120","applicationTemplateId":null,"disabled[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications/5ac7179b-cef3-4952-b95b-4359e8f7cfef
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#applications/$entity","id":"5ac7179b-cef3-4952-b95b-4359e8f7cfef","deletedDateTime":null,"appId":"d8c44535-ddc8-4077-aa47-a0af28571120","applicationTemplateId":null,"disabledByMicrosoftStatus":null,"createdDateTime":"2021-12-06T08:07:47Z","displayName":"[...]
- request:
    body: '{"passwordCredential": {"startDateTime": "2021-12-06T08:07:48Z", "endDateTime":
      "2023-12-06T08:07:48Z", "displayName": null}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/applications/5ac7179b-cef3-4952-b95b-4359e8f7cfef/addPassword
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#microsoft.graph.passwordCredential","customKeyIdentifier":null,"displayName":null,"endDateTime":"2023-12-06T08:07:48Z","hint":"vQP","keyId":"408e666d-d35e-4f97-bc9d-e60c7b800262","secretText":"vQP7Q~fUjv3xRXFPNPMzIknsM19qdmDeq8rLa","startDateTime":"2021-12-06T08:07:48Z"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"003","RoleInstance":"SI1PEPF00005EEB"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications?$filter=identifierUris/any(s:s%20eq%20'd8c44535-ddc8-4077-aa47-a0af28571120')
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#applications","value":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"003","RoleInstance":"SI1PEPF00005AD8"}}'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications?$filter=appId%20eq%20'd8c44535-ddc8-4077-aa47-a0af28571120'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#applications","value":[{"id":"5ac7179b-cef3-4952-b95b-4359e8f7cfef","deletedDateTime":null,"appId":"d8c44535-ddc8-4077-aa47-a0af28571120","applicationTemplateId":null,"disabledByMicrosoftStatus":null,"createdDateTime":"2021-12-06T0[...]
[...]
- request:
    body: '{"web": {"homePageUrl": "http://azure-cli-test-graph-app-2000002"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://graph.microsoft.com/v1.0/applications/5ac7179b-cef3-4952-b95b-4359e8f7cfef
  response:
    body:
      string: ''
    headers:
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"003","RoleInstance":"SI1PEPF00005D6D"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{"appRoles": [{"allowedMemberTypes": ["User"], "description": "Approvers
      can mark documents as approved", "displayName": "Approver", "isEnabled": "true",
      "value": "approver", "id": "465d8fa6-baa4-458f-8b22-98a1723bdcb6"}]}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://graph.microsoft.com/v1.0/applications/5ac7179b-cef3-4952-b95b-4359e8f7cfef
  response:
    body:
      string: ''
    headers:
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"003","RoleInstance":"SI1PEPF00005EF2"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications?$filter=appId%20eq%20'd8c44535-ddc8-4077-aa47-a0af28571120'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#applications","value":[{"id":"5ac7179b-cef3-4952-b95b-4359e8f7cfef","deletedDateTime":null,"appId":"d8c44535-ddc8-4077-aa47-a0af28571120","applicationTemplateId":null,"disabledByMicrosoftStatus":null,"createdDateTime":"2021-12-06T08:07:47Z","displayName":"azure-cli-test-graph-app-2000002","description":null,"groupMembershipClaims":null,"identifierUris":["api://00000000-0000-0000-0000-000000000000/azure-cli-test-graph-app000001"],"isDeviceOnlyAuthSupported":null,"isFallbackPublicClient":null,"notes":null,"publisherDomain":"AzureSDKTeam.onmicrosoft.com","signInAudience":"AzureADandPersonalMicrosoftAccount","tags":[],"tokenEncryptionKeyId":null,"defaultRedirectUri":null,"certification":null,"optionalClaims":null,"addIns":[],"api":{"acceptMappedClaims":null,"knownClientApplications":[],"requestedAccessTokenVersion":2,"oauth2PermissionScopes":[],"preAuthorizedApplications":[]},"appRoles":[{"allowedMemberTypes":["User"],"description":"Approvers
        can mark documents as approved","displayName":"Approver","id":"465d8fa6-baa4-458f-8b22-98a1723bdcb6","isEnabled":true,"origin":"Application","value":"approver"}],"info":{"logoUrl":null,"marketingUrl":null,"privacyStatementUrl":null,"supportUrl":null,"termsOfServiceUrl":null},"keyCredentials":[],"parentalControlSettings":{"countriesBlockedForMinors":[],"legalAgeGroupRule":"Allow"},"passwordCredentials":[{"customKeyIdentifier":null,"displayName":null,"endDateTime":"2023-12-06T08:07:48Z","hint":"vQP","keyId":"408e666d-d35e-4f97-bc9d-e60c7b800262","secretText":null,"startDateTime":"2021-12-06T08:07:48Z"}],"publicClient":{"redirectUris":[]},"requiredResourceAccess":[],"verifiedPublisher":{"displayName":null,"verifiedPublisherId":null,"addedDateTime":null},"web":{"homePageUrl":"http://azure-cli-test-graph-app-2000002","logoutUrl":null,"redirectUris":["https://azureclitest-redirect-uri"],"implicitGrantSettings":{"enableAccessTokenIssuance":false,"enableIdTokenIssuance":false}},"spa":{"redirectUris":[]}}]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"003","RoleInstance":"SI1PEPF00005D6D"}}'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/applications?$filter=appId%20eq%20'd8c44535-ddc8-4077-aa47-a0af28571120'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#applications","value":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"003","RoleInstance":"SI1PEPF00005EF2"}}'
      x-ms-resource-unit:
      - '2'
    status:
      code: 200
      message: OK
version: 1
