interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/users/zhiyihuang@microsoft.com
  response:
    body:
      string: '{"error":{"code":"Request_ResourceNotFound","message":"Resource ''example@example.com''
        does not exist or one of its queried reference-property objects are not present.","innerError":{"date":"2021-12-23T06:55:55","request-id":"6965ef8f-96da-4500-ae59-79fb145727f3","client-request-id":"6965ef8f-96da-4500-ae59-79fb145727f3"}}}'
    headers:
      content-type:
      - application/json
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SI2PEPF00000BCC"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 404
      message: Not Found
version: 1
